<div class="container-fluid">
		<div class="row" id="user_details">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="https://dummyimage.com/200x250/9c8e9c/fff" class="img-responsive img-circle center-block" id="user_img">
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4" id="user_desc">
				<h3>Name: {{firstName}} {{lastName}}</h3>
				<h4>Username: {{userName}}</h4>
				<h4>Email: {{email}}</h4>
                <h4>Phone: {{phone}}</h4>
				
			</div>
		</div>
		<br>
		<div class="row" >
			<div class="col-md-2 col-lg-2">			
			</div>
			<div class="col-lg-8 col-md-8" id="user_ads_outer">
				<h2>Ads by You</h2>
				<div class="row" id="user_ads">
					<div class="col-md-3 col-lg-3">
						<img src="https://dummyimage.com/200x200/b5aeb5/fff" class="img-responsive img-rounded">
					</div>
					<div class="col-lg-6 col-md-6">
						<h3>Title</h3>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos .</p>
						<button type="button" class="btn btn-default"  data-toggle="modal" data-target="#edit_modal">Edit</button>
						<button type="button" class="btn btn-default" >Delete</button>
					</div>
					<div class="col-lg-3 col-md-3">
						<h3>Price</h3>
					</div>
				</div>
				<div class="row" id="user_ads" >
					<div class="col-md-3 col-lg-3 " >
						<img src="https://dummyimage.com/200x200/b5aeb5/fff" class="img-responsive img-rounded">
					</div>
					<div class="col-lg-6 col-md-6">
						<h3>Title</h3>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos .</p>
						<button type="button" class="btn btn-default"  data-toggle="modal" data-target="#edit_modal">Edit</button>
						<button type="button" class="btn btn-default" >Delete</button>
					</div>
					<div class="col-lg-3 col-md-3">
						<h3>Price</h3>
					</div>
				</div>
				<div class="row" id="user_ads">
					<div class="col-md-3 col-lg-3">
						<img src="https://dummyimage.com/200x200/b5aeb5/fff" class="img-responsive img-rounded">
					</div>
					<div class="col-lg-6 col-md-6">
						<h3>Title</h3>
						<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos .</p>
						<button type="button" class="btn btn-default"  data-toggle="modal" data-target="#edit_modal">Edit</button>
						<button type="button" class="btn btn-default" >Delete</button>
					</div>
					<div class="col-lg-3 col-md-3">
						<h3>Price</h3>
					</div>
				</div>
			</div>
		</div>

	</div>