<div class="row">
		<div class="col-md-3 col-lg-3"></div>
		<div class="col-lg-9 col-mg-9">
			<!-- Form Name -->
				<legend>POST AD</legend>

				<!-- Text input-->
				<form #postAdForm="ngForm" (ngSubmit)="formSubmit(postAdForm.value)" class= "col-md-4 col-lg-4" novalidate>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" required minlength="5" class="form-control" #nameRef #nameModelRef="ngModel" ngModel>
                        <div *ngIf="nameModelRef.errors && nameModelRef.touched" class="alert alert-danger">
                            <div [hidden]="!nameModelRef.errors.required">Please enter name</div>
                            <div [hidden]="!nameModelRef.errors.minlength">Name should be of minimum 5 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" required class="form-control" #titleRef #titleRefModelRef="ngModel" ngModel>
                        <div *ngIf="titleRefModelRef.errors && titleRefModelRef.touched" class="alert alert-danger">
                            <div [hidden]="!titleRefModelRef.errors.required">Please enter title</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Categories</label>
                        <select name="category" class="form-control" #categoryRef #categoryRefModel="ngModel" ngModel>
                                <option *ngFor="let category of categoryArray">{{category}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" name="description" required class="form-control" #descriptionRef #descriptionRefModelRef="ngModel" ngModel>
                        <div *ngIf="descriptionRefModelRef.errors && descriptionRefModelRef.touched" class="alert alert-danger">
                            <div [hidden]="!descriptionRefModelRef.errors.required">Please enter title</div>
                        </div>
                    </div>
                        <button [disabled]="!postAdForm.form.valid"type="submit" class="btn btn-primary">ADD PRODUCT</button>
                    </form>
        </div>

</div>
                 