body {
	background-color: #ffffe6;
	padding-top: 50px;
}

#search_box {
	margin-top: 7px;
}

.glyphicon {
	padding-right: 5px;
}

.navbar .navbar-default {
	background-color: white;
}


.form-horizontal {
	border:1px solid black;
	margin-top: 50px;
}

#description {
	height:100px;
}